<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptoms Checker</title>
    <link rel="stylesheet" href="styles.css"> <!-- You can link your custom CSS file here -->
</head>
<script>
    function startRecording() {
        // Code to start recording audio
        // You can use getUserMedia or MediaRecorder API
    }

    function stopRecording() {
        // Code to stop recording and save the audio
    }
</script>
<body>
    <div class="container">
        <h1>First-aid Assistant</h1>
        <p>Please, try to describe your situation. You can write down bleow or use your voice to make a record.</p>
        <b>Coming Soon...</b>
        </form>
    </div>
</body>
</html>
