<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptoms Checker & First Aid</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div class="notification-bar">
        <p>Important Notice: This is a Testing Version!</p>

        Thank you for using our healthcare tools. 
        Please be aware that the results provided are based on an AI model that is still learning and evolving. 
        While we strive for accuracy, do not solely rely on these predictions for medical decisions. 
        Always consult with a qualified healthcare professional for personalized advice and diagnosis.

        Your feedback helps us improve, so feel free to share any insights or experiences. 
        Together, we’re making healthcare smarter and more reliable!
    </div>
    <div class="container">
        <h1>Welcome to our Healthcare System</h1>
        <div class="options">
            <a href="https://healthcare-system-7pls.onrender.com/symptoms">Symptoms Checker</a>
            <a href="first_aid.html">First Aid</a>
        </div>
    </div>
</body>
</html>


